@media (max-width: 900px) {
  .action__title {
    padding-bottom: 7px;
  }
  .action__subtitle {
    padding-bottom: 21px;
  }

  .action__items {
    width: 216px;
    height: 44px;

    font-size: 14px;
    line-height: 19px;
  }

  .action__link {
    left: 16px;
  }
}
