@media (max-width: 900px) {
  .mobile__menu-icon {
    width: 25px;
    height: 25px;
    top: 20px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
  }

  .menu__line {
    position: relative;
    width: 23px;
    height: 3px;
    background: #ffffff;
    border-radius: 3px;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      width: 23px;
      height: 3px;
      left: 0;
      top: 9px;
      background: #ffffff;
      border-radius: 3px;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }
    &::after {
      position: absolute;
      content: "";
      width: 23px;
      height: 3px;
      left: 0;
      top: -9px;
      background: #ffffff;
      border-radius: 3px;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }
  }

  .mobile__menu-icon-active .menu__line {
    z-index: 20;
    background-color: transparent;

    &::before {
      transform: rotate(45deg);
      top: 0;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
    &::after {
      transform: rotate(-45deg);
      top: 0;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
  }

  .header__nav {
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
    position: absolute;
    z-index: 10;
    padding-top: 10px;
    right: -320px;
    top: 45px;
    height: auto;
    width: 320px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: transform 0.5s ease-in;
  }
  .mobile__nav-active {
    transform: translateX(-100%);
  }

  .header__link {
    font-size: 18px;
    line-height: 22px;
    padding-right: 15px;
    margin-bottom: 13px;
  }
}
